<h1>Gebruiker aanmaken</h1>

<div id="login-user" class="hidden">
    <p id="login-info">Hallo <span rel="name"></span>!</p>

    <p>Maak hier een nieuwe (gast)gebruiker aan:</p>

    <form method="post" id="user-form">

        <table class="data-table">
            <tr>
                <td>Naam: </td>
                <td><input type="text" name="Name" rel="name:value"></td>
            </tr>
            <tr>
                <td>E-mailadres: </td>
                <td><input type="text" name="Email" rel="email:value"></td>
            </tr>
            <tr>
                <td>Kleur:</td>
                <td><input type="text" name="Color" rel="color:value"> <div id="color" rel="color:data-color"></div></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Gebruiker aanmaken" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>

    <p><a href="/Ledenbeheer">Terug naar Ledenbeheer</a></p>
</div>


@section scripts {
<script>
    requireLogin(member => {
        // User session loaded
     
        showElement(document.querySelector('#login-user'));
        showOutput(member, document.querySelector('#login-info'));

        const userForm = document.querySelector('#user-form');

        userForm.querySelector('input[name="Color"]').addEventListener('change', event => {
            let color = document.querySelector('#color');
            color.dataset.color = event.target.value;
            color.style.backgroundColor = color.dataset.color;
            color.style.width = '16px';
            color.style.height = '16px';
            color.style.borderRadius = '16px';
            color.style.display = 'inline-block';
        });

        userForm.addEventListener('submit', event => {
            // Submit form

            event.preventDefault();
            
            let formData = {};
            userForm.querySelectorAll('input[name],textarea[name],select[name]').forEach(input => {
                formData[input.name] = input.value;
                if (input.type == "number" || input.name.match(/Id$/))
                    formData[input.name] = isNaN(+formData[input.name]) ? 0 : +formData[input.name];
            });
            hideElement(userForm);

            setLoadMessage('Bezig met opslaan...');

            apiPost('User', formData).then(result => {
                if (result)
                    window.location.href = '/Ledenbeheer';
            });
        });
    });
</script>
}