@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Mijn Maasgroep18</h1>
</div>

<div>
    <p>Dit is de web-frontend van de Maasgroep 18 applicatie.</p>
    <p>Het bestaat uit de volgende onderdelen:</p>
    <ul>
        <li><a asp-controller="Declaraties" asp-action="Index">Declaraties</a></li>
    </ul>
</div>