@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p><i>Mijn Maasgroep 18</i></p>
</div>

<div>
    <p>Dit is de web-frontend van de Maasgroep 18 applicatie.</p>
    <p>Het bestaat uit de volgende onderdelen:</p>
    <ul>
        <li><a asp-controller="Declaraties" asp-action="Index">Declaraties</a></li>
        <li><a asp-controller="Producten" asp-action="Index">Producten</a></li>
        <li><a asp-controller="Ledenbeheer" asp-action="Index">Ledenbeheer</a></li>
        <li><a href="/swagger">Swagger API-definitie</a></li>
    </ul>
</div>