<h1>Declaratie bekijken</h1>

<div id="login-user" class="hidden">
    <p id="login-info">Hallo <span rel="name"></span>!</p>

    
    <p>Hier kan je de declaratie bekijken:</p>

    <div id="receipt-form" class="hidden">

        <p>De status van de declaratie is momenteel <b rel="statusString"></b>.</p>
        <table>
            <tr>
                <td>Bedrag: </td>
                <td><b rel="amount:euro"></b></td>
            </tr>
            <tr>
                <td>Kostencentrum: </td>
                <td><b rel="costCentre.name"></b></td>
            </tr>
            <tr>
                <td>Opmerkingen: </td>
                <td><b rel="note"></b></td>
            </tr>
            <tr>
                <td>Ingediend door: </td>
                <td><b rel="memberCreated.name"></b></td>
            </tr>
        </table>
    </div>

    &nbsp;

    <div id="receipt-photos-form">

        <p><i>Foto's:</i></p>

        <div id="receipt-photos">
            <div id="receipt-photo" class="hidden">
                <img class="drop-image">
            </div>
            <p id="receipt-photos-none" class="hidden">Er zijn geen foto's bij deze declaratie</p>
        </div>

    </div>

    &nbsp;

    <div id="receipt-approval-form">
        <p><i>Goedkeuren of afkeuren:</i></p>

        <div id="receipt-approval" class="hidden">
            <div id="receipt-approval-list">
                <div id="receipt-approval-previous" class="hidden" rel="0">
                    ....
                </div>
            </div>
            <p id="receipt-approval-none" class="hidden">Hier kan je de declaratie goed- of afkeuren:</p>
            <p id="receipt-approval-exists" class="hidden">Hier kan je de goed- of afkeuring aanpassen:</p>

            <div id="receipt-approval-new">
                <p>
                    Opmerking: <br>
                    <textarea id="receipt-approval-note"></textarea>
                </p>
                <p>
                    <button type="button" class="btn btn-primary approval-button" data-approve="1">Goedkeuren</button>
                    <button type="button" class="btn btn-secondary approval-button" data-approve="0">Afkeuren</button>
                </p>
            </div>
            <p id="receipt-not-approvable" class="hidden">Deze declaratie kan momenteel niet worden goed- of afgekeurd.</p>
        </div>
    </div>

    <p><a href="/Declaraties/Goedkeuren">Terug naar het overzicht</a></p>
</div>


@section scripts {
<script>
    const receiptId = @ViewData["id"];
    const photosDiv = document.querySelector('#receipt-photos');
    const approvalDiv = document.querySelector('#receipt-approval');

    getUserSession().then(member => {
        // User session loaded
     
        showElement(document.querySelector('#login-user'));
        showOutput(member, document.querySelector('#login-info'));


        apiGet('Receipt/' + receiptId).then(receipt => {
            // Receipt loaded

            showOutput(receipt, document.querySelector('#receipt-form'));
            
            if (!receipt.isApprovable) {
                hideElement(document.querySelector('#login-user'));
                showElement(document.querySelector('#receipt-not-approvable'));
            }

            apiGet('Receipt/' + receiptId + '/Photo').then(result => {
                // Show all receipt photos

                showElement(photosDiv);

                if (typeof result[0] == 'undefined') {
                    showElement(document.querySelector('#receipt-photos-none'));
                    return;
                }

                for (i in result) {
                    let photo = document.querySelector('#receipt-photo').cloneNode(true);
                    let img = photo.querySelector('img');
                    let id = result[i].id;
                    photo.id = 'receipt-photo-' + id;
                    img.src = result[i].base64Image;
                    showElement(photo);
                    photosDiv.appendChild(photo);
                }

            });

            apiGet('Receipt/' + receiptId + '/Approve').then(result => {
                // Show all receipt approvals

                showElement(approvalDiv);

                if (typeof result[0] == 'undefined') {
                    showElement(document.querySelector('#receipt-approval-none'));
                    return;
                }

                showElement(document.querySelector('#receipt-approval-exists'));

                for (i in result) {
                    let approval = document.querySelector('#receipt-approval-previous').cloneNode(true);
                    let img = approval.querySelector('img');
                    let id = result[i].id;
                    approval.id = 'receipt-approval-' + id;
                    showOutput(result[i], approval);
                    photosDiv.appendChild(approval);
                }

            });
        });
    });

    document.querySelectorAll('.approval-button').forEach(btn => btn.addEventListener('click', event => {
        // Approve or Reject
        
        let data = {
            receiptId,
            approved: !!btn.dataset.approve && btn.dataset.approve != "0",
            paid: false,
            note: document.querySelector('#receipt-approval-note').value,
        };

        hideElement(approvalDiv);

        apiPost('Receipt/' + receiptId + '/Approve', data).then(result => {
            window.location = window.location;
        });
    }));

</script>
}