@model DeclaratieBestaand

<h1>Declaratie aanpassen</h1>

<div id="login-user" class="hidden">
    <p>Hallo <span rel="name"></span>!</p>

    <p>Hier kan je je declaratie aanpassen:</p>

    <p><img class="drop-image hidden" id="receipt-photo"></p>

    <form method="post" id="receipt-form" class="hidden">
        <table>
            <tr>
                <td>Bedrag: </td>
                <td><input type="number" name="Amount" step="0.01" rel="amount:value"></td>
            </tr>
            <tr>
                <td>Opmerkingen: </td>
                <td><textarea name="Note" rel="note"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Aanpassingen opslaan" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>


    <img src=@Model.FormFile64 />

</div>


@section scripts {
<script>
    apiGet('Session').then(member => {
        // User session loaded
     
        showOutput(member, document.querySelector('#login-user'));

        apiGet('Receipt/' + @ViewData["id"]).then(receipt => {
            // Receipt loaded

            showOutput(receipt, document.querySelector('#receipt-form'));
        })
    });

    try {
        let receiptImage = localStorage.getItem('receipt-' + @ViewData["id"]);
        if (receiptImage) {
            const img = document.querySelector('#receipt-photo');
            img.src = receiptImage;
            showElement(img);
        }
    } catch (e) {
        console.warn('Local storage error', e);
    }

    const receiptForm = document.querySelector('#receipt-form');

    receiptForm.addEventListener('submit', event => {
        // Submit form

        event.preventDefault();
        
        let formData = {
            id: @ViewData["id"],
        };
        receiptForm.querySelectorAll('input[name],textarea[name]').forEach(input => formData[input.name] = input.value);
        hideElement(receiptForm);

        apiPut('Receipt/' + @ViewData["id"], formData).then(result => {
            if (result) // PUT should not return a response body, just a success status
                window.location.href = '/Declaraties'; // Of: /Declaraties/Edit?id=' + result.receipt.id;
        });

    });
</script>
}