<h1>@ViewData["Title"]</h1>

<div id="login-user" class="hidden">
    <p id="login-info">Hallo <span rel="name"></span>!</p>    

        <p>Wat wil je doen met Declaraties?</p>

        <ul>
            <li><a asp-controller="Declaraties" asp-action="Lijst">Je declaraties inzien of een nieuwe aanmaken</a></li>
            <li><a asp-controller="Declaraties" asp-action="Approve">Declaraties goedkeuren of afkeuren</a></li>
            <li><a asp-controller="Declaraties" asp-action="Approve">Declaraties uitbetalen</a></li>
            <li><a asp-controller="Declaraties" asp-action="Kostencentra">Kostencentra aanpassen</a></li>
        
    </div>
</div>

@section scripts {
<script>
    getUserSession().then(member => {
        // User session loaded
     
        const userId = member.id;
        showElement(document.querySelector('#login-user'));
        showOutput(member, document.querySelector('#login-info'));

    });
</script>
}