<h1>@ViewData["Title"]</h1>

<div id="login-user" class="hidden">
    <p>Hallo <span rel="name"></span>!</p>    

    <p>Hier kan je je bonnetjes inleveren:</p>

    <p><a asp-action="Nieuw"><button class="btn btn-primary">Nieuwe declaratie</button></a></p>

    <p>Dit zijn je bestaande declaraties in de database:</p>

    <table id="user-receipts">
        <tr>
            <th>Bedrag</th>
            <th>Opmerking</th>
            <th>Status</th>
        </tr>
        
        <tr id="user-receipts-empty" class="hidden">
            <td colspan="999">Je hebt nog geen bonnetjes ingeleverd.</td>
        </tr>
        
        <tr id="user-receipts-row" class="hidden">
            <td rel="amount"></td>
            <td rel="note"></td>
            <td>(status)</td>
        </tr>
    </table>
</div>

@section scripts {
<script>
    apiGet('Session').then(member => {
        // User session loaded
     
        showOutput(member, document.querySelector('#login-user'));
        
        apiGet('Receipt').then(receipts => {
            // Receipts data loaded

            let noReceipts = (!receipts || !receipts.length);
            let receiptsTable = document.querySelector('#user-receipts');
            document.querySelector('#user-receipts-empty').className = noReceipts ? '' : 'hidden';
            for (id in receipts) {
                let receipt = document.querySelector('#user-receipts-row').cloneNode(true);
                receipt.id = 'user-receipts-' + id;
                receipt.className = '';
                showOutput(receipts[id], receipt);
                receiptsTable.appendChild(receipt);
            }
            receiptsTable.className = '';
        });
    });
</script>
}