<h1>Declaratie indienen</h1>

<div id="login-user" class="hidden">
    <p>Hallo <span rel="name"></span>!</p>

    <p>Upload hier je bon:</p>

    <form method="post" id="receipt-form">

        <label for="FormFile" class="drop-container">
            <span class="drop-title">Sleep hier je bestand</span>
            <img src="" class="drop-image hidden" id="receipt-photo">
            <span class="drop-hint">of klik om een bestand te selecteren</span>
            <input type="file" accept="image/*" required name="FormFile" class="hidden" id="receipt-input">
        </label>

        <!--
        <p>Vul hier de gegevens van je declaratie in:</p>

        <table>
            <tr>
                <td>Bedrag: </td>
                <td><input type="number" name="Amount" value="0" step="0.01"></td>
            </tr>
            <tr>
                <td>Opmerkingen: </td>
                <td><textarea name="Note"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Indienen" class="btn btn-primary"></td>
            </tr>
        </table>
        -->

        <p><input type="submit" value="Uploaden" class="btn btn-primary hidden" id="receipt-submit"></p>
    </form>
</div>


@section scripts {
<script>
    apiGet('Session').then(member => {
        // User session loaded
     
        showOutput(member, document.querySelector('#login-user'));
    });

    const receiptForm = document.querySelector('#receipt-form');
    const receiptInput = document.querySelector('#receipt-input');

    receiptInput.addEventListener('change', () => {
        // Show "upload" button

        showElement(document.querySelector('#receipt-submit'));
    });

    receiptForm.addEventListener('submit', event => {
        // Submit form

        console.log('submit');

        event.preventDefault();
        
        const img = document.querySelector('#receipt-photo');

        if (!img.src || !typeof receiptInput.files[0] == 'undefined')
            return;

        let fileName = receiptInput.files[0].name.split('.');
        let fileExt = fileName.pop();
        fileName = fileName.join('.');

        // receiptForm.querySelectorAll('input[name],textarea[name]').forEach(input => formData[input.name] = input.value);
        hideElement(receiptForm);

        const receiptData = {
            Amount: 0,
            Note: '',
        };

        apiPost('Receipt', receiptData).then(result => {
            // Save (empty) receipt and then upload the photo

            if (!result.receipt) {
                handleError('Failed to save receipt');
                return;
            }

            const createdReceipt = result.receipt;

            const formData = {
                fileName: fileName,
                fileExtension: fileExt,
                base64Image: img.src,
                Receipt: createdReceipt.id,
            };

            apiPost('ReceiptPhoto', formData).then(result => {
                // Upload photo

                if (result.photo) {
                    window.location.href = '/Declaraties/Edit/' + createdReceipt.id;
                } else {
                    handleError('Failed to upload file');
                }
            });
        });
    });
</script>
}